# Cache crap that Valve autogenerates
*.bin
*.tmp
*.soc
*.tmp

# Compiled formats
*.vmdl
*.fbx
*.vmat
*.vpcf
*.cfg
*.tga
*.vtex_c

# Map files
*.vmap

# Single Files
*.cfg

#Github dump
*.stackdump
game/dota_addons/barebones/scripts/vscripts/statcollection/settings.kv
game/dota_addons/barebones/scripts/vscripts/internal/auth.kv
