# Cache crap that Valve autogenerates
*.bin
*.tmp
*.soc
*.tmp

#Uncompiled formats
*.smd
*.vta
*.qc

# Compiled formats
*.vmdl
*.fbx
*.vmat
*.vpcf
*.cfg
*.tga

# Single Files
*.cfg

#Github dump
*.stackdump
game/scripts/vscripts/components/api/backend_key.kv
*.vmap
game/scripts/vscripts/components/api/.gitattributes
