.Timers
{
	flow-children: right;
	width: 100%;
}

#TimerPanels
{
	margin-left: 1%;
	flow-children: right;
	box-shadow: fill #00000066 -4px -4px 8px 8px;
	background-color: #000000da;
	border: 2px solid #FF7800FF;
	border-radius: 8px;
}

#GameTime
{
	margin-left: 47.4%;
	flow-children: down;
	width: 100px;
	height: 46px;
	z-index: 2;
}

.AspectRatio16x10 #GameTime
{
	margin-left: 47.1%;
}

.AspectRatio4x3 #GameTime
{
	margin-left: 46.5%;
}

.TopbarPanel
{
	margin-left: 5px;
	margin-right: 5px;
	flow-children: down;
	width: 100px;
	height: 45px;
}

#SpecialArena,
#HeroImage,
#SpiritBeast,
#FrostInfernal,
#AllHeroImage
{
	visibility: collapse;
}

.TopbarPanelLabel
{
	margin-top: 5px;
	font-size: 12px;
	font-weight: bold;
	color: DodgerBlue;
	text-align: center;
	width: 100%;
	text-transform: uppercase;
}

#GameTimer
{
	margin-top: 50%;
	font-size: 14px;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	width: 100%;
	text-transform: uppercase;
	text-overflow: clip;
}

.AspectRatio16x10 #GameTimer
{
	margin-top: 52%;
	font-size: 13px;
}

.AspectRatio4x3 #GameTimer
{
	margin-top: 53%;
	font-size: 13px;
}

.TimerLabel
{
	font-size: 15px;
	font-weight: bold;
	color: #ffffff;
	text-align: center;
	width: 100%;
	text-transform: uppercase;
	text-overflow: clip;
}

#Timer.timer_visible
{
	opacity: 1;
}

#Timer.timer_hidden
{
	opacity: 0;
}

#Timer.timer_alert
{
	color: red;
}
