.ContainerGameSetup
{
	height: 100%;
	width: 1078px;
	z-index: -1;
}


.CustomSettingsColumn
{
	height: 100%;
	width: 400px;
	horizontal-align: right;

	background-color: gradient( linear, 100% 0%, 100% 100%, from( #111111 ), color-stop( 0.01, #202327 ), color-stop( 0.2, #141619ff ), to( #000000dd ) );
	box-shadow: black -4px -4px 8px 8px;
	padding-left: 16px;
	padding-right: 16px;
   
	animation-name: CustomSettingsAppear;
	animation-duration: 1.5s;  
}

@keyframes 'CustomSettingsAppear'
{
	0%
	{
		transform: translatex( 100% );
	}

	50%
	{
		transform: translatex( 100% );
	}

	100%
	{
		transform: translatex( 0px );
	}
}

.ContainerCustomGameSettingsPanels
{	
	width: 100%;
	vertical-align: center;
	flow-children: down;
}

.ContainerCustomGameSettingsTitle
{
	width: 100%;
}

.CustomGameSettingsHeaderTitle
{
	text-transform: uppercase;
	font-size: 22px;
	letter-spacing: 1px;
	color: #667273;
	margin-left: 8px;
}

.CustomSettingPanel
{
	width: 100%;
	margin: 6px;
	padding: 4px;
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #272b30 ), color-stop( 0.6, #181a1e ), to( #181a1e ) );
	flow-children: down;
}

.CustomGameSettingsTitle
{
	color: #a5ada2;
	font-size: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-left: 1px;
	margin-top: 1px;
	text-shadow: 2px 2px 2px black;
}

.CustomGameSettingPanelDivider
{
	width: 100%;
	margin: 2px;
	height: 1px;
	background-color: #49525555;
}

.ContainerCustomGameSettingOptions
{
	flow-children: down;
	width: 100%;
}

.CGSRadio
{
	width: 100%;

	margin: 2px;
	margin-top: 6px;
	margin-left: 5px;
}

RadioButton Label
{
	font-size: 18px;
	letter-spacing: 1px;
	text-shadow: 2px 2px 2px black;
	color: #454545;
	vertical-align: center;
}