.ContainerGameSetup
{
	height: 100%;
	width: 100%;
	z-index: -1;
}

.CustomSettingsColumn,
.CustomSettingsColumn2
{
	width: 20%;

	horizontal-align: center;
	vertical-align: center;

	background-color: gradient( linear, 100% 0%, 100% 100%, from( #111111 ), color-stop( 0.01, #202327 ), color-stop( 0.2, #141619ff ), to( #000000dd ) );
	box-shadow: black -4px -4px 8px 8px;
   
	animation-name: CustomSettingsAppear;
	animation-duration: 1.5s;
	border: 2px solid black;	
	border-radius: 7px;
}

.CustomSettingsColumn
{
	height: 52%;
	margin-bottom: 16%;
	margin-left: 80%;
}

.CustomSettingsColumn2
{
	height: 32%;
	margin-top: 68%;
	margin-left: 80%;
}

@keyframes 'CustomSettingsAppear'
{
	0%
	{
		transform: translatex( 100% );
	}

	50%
	{
		transform: translatex( 100% );
	}

	100%
	{
		transform: translatex( 0px );
	}
}

.ContainerCustomGameSettingsPanels
{	
	width: 100%;
	height: 100%;
	vertical-align: center;
	flow-children: down;
}

.ContainerCustomGameSettingsTitle
{
	width: 100%;
}

.CustomGameSettingsHeaderTitle
{
	text-transform: uppercase;
	font-size: 22px;
	letter-spacing: 1px;
	color: #667273;
	margin-left: 16%;
}

.CustomSettingPanel
{
	width: 100%;
	margin: 6px;
	padding: 4px;
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #272b30 ), color-stop( 0.6, #181a1e ), to( #181a1e ) );
	flow-children: down;
}

.CustomGameSettingsTitle
{
	color: #a5ada2;
	font-size: 20px;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-left: 10px;
	margin-top: 0px;
	text-shadow: 2px 2px 2px black;
}

.CustomGameSettingPanelDivider
{
	width: 100%;
	margin: 1px;
	height: 1px;
	background-color: #49525555;
}

.ContainerCustomGameSettingOptions
{
	flow-children: down;
	width: 100%;
}

.CGSRadio,
.CGSRadio1,
.CGSRadio2,
.CGSRadio3,
.CGSRadio4
{
	width: 100%;

	margin: 0px;
	margin-top: 4px;
	margin-left: 5px;
}

.CGSRadio Label,
.CGSRadio1 Label,
.CGSRadio2 Label,
.CGSRadio3 Label,
.CGSRadio4 Label
{
	font-size: 16px;
	letter-spacing: 1px;
	text-shadow: 2px 2px 2px black;
	vertical-align: center;
}

.CGSRadio Label
{
	color: dodgerBlue;
}

.CGSRadio1 Label
{
	color: green;
}

.CGSRadio2 Label
{
	color: yellow;
}

.CGSRadio3 Label
{
	color: orange;
}

.CGSRadio4 Label
{
	color: red;
}

#Community
{
	width: 100%;
	height: 100%;
	margin-top: 0.5%;
	flow-children: down;
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #111111 ), color-stop( 0.01, #202327 ), color-stop( 0.2, #141619ff ), to( #000000dd ) );
	box-shadow: black -3px -3px 6px 6px;
	color: #fff000;
}

#CommunityImg,
#CommunityImg2,
#CommunityImg3
{
	width: 55%;
	height: 21%;
	margin-top: 0px;
	margin-bottom: 2px;
	horizontal-align: center;
}

#CommunityImg:hover,
#CommunityImg2:hover,
#CommunityImg3:hover
{
	wash-color: #bbbbbb;
}

#CommunityImg:active,
#CommunityImg2:active,
#CommunityImg3:active
{
	wash-color: #fff000;
}

.CommunityText
{
	width: 100%;
	margin-top: 5px;
	margin-bottom: 0px;
	margin-left: 10px;
	font-size: 16px;
	horizontal-align: left;
}

#VIP
{
	width: 100%;
	height: 100%;
	flow-children: down;
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #111111 ), color-stop( 0.01, #202327 ), color-stop( 0.2, #141619ff ), to( #000000dd ) );
	box-shadow: black -3px -3px 6px 6px;
	color: #ffffff;
}

#VIPImg
{
	width: 55%;
	height: 50%;
	margin-top: 5%;
	horizontal-align: center;
	box-shadow: inset #000000 0px 2px 6px 3px;
	border-bottom: 2px solid #404b4a11;
}

#VIPImg:hover,
#ChangelogImg:hover
{
	wash-color: #bbbbbb;
}

#VIPImg:active,
#ChangelogImg:active
{
	wash-color: #fff000;
}

#ChangelogImg
{
	width: 22%;
	height: 18%;
	margin-top: 1%;
	margin-left: 34%;
}
