.CustomHudRoot
{
    width: 100%;
    height: 100%;
}

.CustomHudContents
{
    width: 100%;
    height: 100%;
}

.HoldoutLabelSmall
{
	color: white;
    font-weight: bold;
    text-align: center;
    text-shadow: 1px 1px 2px 2.0 #00000011;

    font-family: Radiance,FZKai-Z03,TH Sarabun New,YDYGO 540;
    font-size: 14px;
    letter-spacing: 2px;
 // text-overflow: clip;
	margin-bottom: -3px;
}

.HoldoutLabelSmall.Header
{
	width: 95px;
}

#SpiritMasterHP,
#LichKingHP,
#BanehallowHP,
#ArthasHP,
#MagtheridonHP
{
	width: 500px;
	height: 64px;
	horizontal-align: center;
	vertical-align: center;
	margin-bottom: 800px;
	visibility: collapse;
}

#SpiritMasterFireHP
{
	width: 500px;
	height: 64px;
	horizontal-align: center;
	vertical-align: center;
	margin-bottom: 800px;
	margin-left: 350px;
	visibility: collapse;
}

#SpiritMasterEarthHP
{
	width: 500px;
	height: 64px;
	horizontal-align: center;
	vertical-align: center;
	margin-bottom: 800px;
	margin-left: -350px;
	visibility: collapse;
}

#SpiritMasterStormHP
{
	width: 500px;
	height: 64px;
	horizontal-align: center;
	vertical-align: center;
	margin-bottom: 700px;
	margin-left: 0px;
	visibility: collapse;
}

#Magtheridon2HP
{
	width: 500px;
	height: 64px;
	horizontal-align: center;
	vertical-align: center;
	margin-bottom: 800px;
	margin-left: 600px;
	visibility: collapse;
}

#SpiritMasterFireLabel,
#SpiritMasterEarthLabel,
#SpiritMasterStormLabel,
#SpiritMasterLabel,
#LichKingLabel,
#BanehallowLabel,
#ArthasLabel,
#MagtheridonLabel,
#Magtheridon2Label
{
	horizontal-align: center;
	text-align: center;	
	margin-top: 12px;
	text-shadow: 1px 1px 2px 3.0 #000000;
	font-size: 16px;
}

#SpiritMasterFireProgressBar,
#SpiritMasterEarthProgressBar,
#SpiritMasterStormProgressBar,
#SpiritMasterProgressBar,
#LichKingProgressBar,
#BanehallowProgressBar,
#ArthasProgressBar,
#MagtheridonProgressBar,
#Magtheridon2ProgressBar
{
	width: 90%;
	border-radius: 4px;
	border: 3px solid #444;
	background-color: black;
	height: 24px;
	vertical-align: middle;
	horizontal-align: right;
	box-shadow: fill #000 -3px -3px 6px 6px;	
}

#SpiritMasterStormProgressBar_Left,
#SpiritMasterFireProgressBar_Left,
#SpiritMasterEarthProgressBar_Left,
#SpiritMasterProgressBar_Left,
#LichKingProgressBar_Left,
#BanehallowProgressBar_Left,
#ArthasProgressBar_Left,
#MagtheridonProgressBar_Left,
#Magtheridon2ProgressBar_Left
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #326114 ), color-stop( 0.3, #54BA07 ), color-stop( .5, #54BA07 ), to( #326114 ) );
	box-shadow: inset #000 1px 1px 3px 3px;	
	border-radius: 2px;
}

#SpiritMasterFireProgressBar_Left,
#SpiritMasterProgressBar_Left,
#BanehallowProgressBar_Left,
#ArthasProgressBar_Left,
#MagtheridonProgressBar_Left,
#Magtheridon2ProgressBar_Left
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #320000 ), color-stop( 0.3, #ff4A07 ), color-stop( .5, #ff4A07 ), to( #320000 ) );
}

#SpiritMasterEarthProgressBar_Left
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #320000 ), color-stop( 0.3, green ), color-stop( .5, green ), to( #320000 ) );
}

#SpiritMasterStormProgressBar_Left,
#LichKingProgressBar_Left
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #320000 ), color-stop( 0.3, dodgerblue ), color-stop( .5, dodgerblue ), to( #320000 ) );
}

#SpiritMasterFireProgressBar_Right,
#SpiritMasterEarthProgressBar_Right,
#SpiritMasterStormProgressBar_Right,
#SpiritMasterProgressBar_Right,
#LichKingProgressBar_Right,
#BanehallowProgressBar_Right,
#ArthasProgressBar_Right,
#MagtheridonProgressBar_Right,
#Magtheridon2ProgressBar_Right
{
	background-color: gradient( linear, 0% 0%, 100% 0%, from( #222222FF ), to( black ) );
}

#SpiritMasterFireProgressBarContainer,
#SpiritMasterEarthProgressBarContainer,
#SpiritMasterStormProgressBarContainer,
#SpiritMasterProgressBarContainer,
#LichKingProgressBarContainer,
#BanehallowProgressBarContainer,
#ArthasProgressBarContainer,
#MagtheridonProgressBarContainer,
#Magtheridon2ProgressBarContainer
{
	vertical-align: bottom;
	height: 40px;
	width: 100%;
}

#BossIcon
{
	height: 48px;
	width: 48px;
}
