
.ScoreboardLeft
{
	margin-left: -70px;
	margin-top: 0px;
	margin-right: 20px;
	flow-children: down;
}

.VictoryPanel
{
	flow-children: down;
	width: 100px;
	height: 62px;
	margin-left: 420px;

	background-image: url("file://{images}/custom_game/goal_logo.psd");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: 100% 100%;
}

#ScoreboardCenter
{
	horizontal-align: center;
	flow-children: down;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url("s2r://panorama/images/custom_game/scoreboard_center_wedge_psd.vtex");
	width: 128px;
	height: 62px;
	margin-top: -62px;
	margin-left: -207px;
}

#ScoreboardCreepTime
{
	horizontal-align: center;
	flow-children: down;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url("file://{images}/custom_game/goal_logo.psd");
	horizontal-align: center;
	width: 100px;
	height: 62px;
	margin-top: -62px;
	margin-left: 20px;
}

#ScoreboardIncomingWaveTime
{
	horizontal-align: center;
	flow-children: down;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url("file://{images}/custom_game/goal_logo.psd");
	horizontal-align: center;
	width: 100px;
	height: 62px;
	margin-top: -62px;
	margin-left: 220px;
}

#ScoreboardSpecialEventsTime
{
	horizontal-align: center;
	flow-children: down;
	background-size: 100% 100%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-image: url("file://{images}/custom_game/goal_logo.psd");
	horizontal-align: center;
	width: 100px;
	height: 62px;
	margin-top: -62px;
	margin-left: -90px;
}

#ScoreboardCurrentTime
{
	min-width: 46px;
	padding-top: 2px;
	padding-left: 2px;
	padding-right: 2px;
	color: #6f4d00;
	margin-top: 10px;
	horizontal-align: center;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	text-overflow: clip;

	background-color: gradient( linear, 0% 0%, 0% 100%, from( #E9D048 ), color-stop( 0.5, #ffffff), color-stop( 0.5, #E3C948 ), to( #D7B129 ) );
	box-shadow: #60000Caa -2px -2px 4px 4px;
	border-radius: 4px;
}

#Goal
{
	margin-top: 2px;
	font-size: 13px;
	font-weight: bold;
	color: #9e7305;
	text-align: center;
	width: 100%;
	text-transform: uppercase;
	text-overflow: clip;
}

#CreepGoal
{
	margin-top: 2px;
	font-size: 13.5px;
	font-weight: bold;
	color: #9e7305;
	text-align: center;
	width: 100%;
	text-transform: uppercase;
	text-overflow: clip;
}

#IncomingWaveGoal
{
	margin-top: 2px;
	font-size: 12.5px;
	font-weight: bold;
	color: #9e7305;
	text-align: center;
	width: 100%;
	text-transform: uppercase;
	text-overflow: clip;
}

#SpecialEventsGoal
{
	margin-top: 2px;
	font-size: 13.6px;
	font-weight: bold;
	color: #9e7305;
	text-align: center;
	width: 100%;
	text-transform: uppercase;
	text-overflow: clip;
}

#Timer
{
	margin-top: -2px;
	font-size: 20px;
	font-weight: bolder;
	color: #6f4d00;
	text-shadow: 2px 2px 2px #7b612b;
	text-align: center;
	width: 100%;
	text-overflow: clip;
}

#CreepTimer
{
	margin-top: -4px;
	font-size: 20px;
	font-weight: bolder;
	color: #6f4d00;
	text-shadow: 2px 2px 2px #7b612b;
	text-align: center;
	width: 100%;
	text-overflow: clip;
}

#IncomingWaveTimer
{
	margin-top: -2px;
	font-size: 20px;
	font-weight: bolder;
	color: #6f4d00;
	text-shadow: 2px 2px 2px #7b612b;
	text-align: center;
	width: 100%;
	text-overflow: clip;
}

#SpecialEventsTimer
{
	margin-top: -4px;
	font-size: 21px;
	font-weight: bolder;
	color: #6f4d00;
	text-shadow: 2px 2px 2px #7b612b;
	text-align: center;
	width: 100%;
	text-overflow: clip;
}

#Timer.timer_visible
{
	opacity: 1;
}

#Timer.timer_hidden
{
	opacity: 0;
}

#Timer.timer_alert
{
	color: red;
}
