#PartyPortraitsMain
{
	margin-right: 43%;
	align: center top;
    width: 700px;
	flow-children: left;
}

.AspectRatio16x10 #PartyPortraitsMain
{
	align: left top;
	margin-top: 5%;
	margin-left: 1%;
	margin-right: 0%;
	flow-children: right;
}

.AspectRatio4x3 #PartyPortraitsMain
{
	align: left top;
	margin-top: 5%;
	margin-left: 1%;
	margin-right: 0%;
	flow-children: right;
}

#PartyPortraits
{
//    width: 1000px;
	flow-children: right;
}

.PartyPortraitContainer
{
	margin-right: 10px;
}

.PartyPortraitHealthBar
{
	height: 10px;
	width:  86px;
	border-radius: 0px;
	border: 0px solid black;
}

.8_players .PartyPortraitHealthBar {
	width: 75px;
}

.PartyPortraitHealthBar .ProgressBarLeft
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #00ff00 ), to( #004c00 ) );

	border-radius: 2px;

	transition-property: width;
	transition-duration: 1.0s;
	transition-timing-function: linear;
}

.PartyPortraitManaBar
{
	height: 6px;
	margin-top: 1px;
	width:  86px;
	border-radius: 0px;
	border: 0px solid black;
}

.8_players .PartyPortraitManaBar {
	width: 75px;
}

.PartyPortraitManaBar .ProgressBarLeft
{
	background-color: gradient( linear, 0% 0%, 0% 100%, from( #2b4287 ), color-stop(0.2, #4165ce ), color-stop(.5, #4a73ea), to(#2b4287) );

	border-radius: 2px;

	transition-property: width;
	transition-duration: 1.0s;
	transition-timing-function: linear;
}


.PartyPortraitImage,
.VIPPortraitImage
{
	width: 88px;
	height: 58px;
	border-radius: 8px;
	border: 2px solid black;
	background-color: black;
}

.8_players .PartyPortraitImage,
.8_players .VIPPortraitImage {
	width: 76px;
}


.Disconnected #HeroIconContainer
{
	saturation: .3;
	wash-color: #f00;
}

.VIPPortraitImage,
.VIP .PartyPortraitImage
{
	visibility: collapse;
	border-color: #FFC000;
}

#PartyPortrait4
{

}

.VIP .VIPPortraitImage
{
	visibility: visible;
}

.PartyPortraitName
{
	color: white;
	width: 86px;
	text-align: center;
	text-shadow: 1px 1px 0px 2.0 #000; 
	text-overflow: shrink;
	height: 24px;
}

.8_players .PartyPortraitName {
	width: 75px;
}

.Disconnected DOTAHeroImage
{
	opacity: 0.5;
}

#DisconnectIcon
{
	width: 67px;
	height: 20px;
	vertical-align: middle;
	background-image: url("s2r://panorama/images/hud/reborn/icon_disconnect_png.vtex");
	background-repeat: no-repeat;
	background-size: 100%;
	horizontal-align: center;
	z-index: 5;
	box-shadow: fill -6px -6px 12px 12px #000c;
	border-radius: 16px;
	visibility: collapse;
}

#HeroIconContainer
{
	width: fit-children;
}

.Disconnected #DisconnectIcon
{
	visibility: visible;
}

.PartyPortaitLivesContainer {
	width: 100%;
	margin-top: 5px;
	flow-children: right;
}

.LifeLeftIcon {
	margin-left: 1px;
	width: 25%;
	height: 20px;
}

.LifeUsed {
	opacity: 0.5;
}

#LifeAmount {
	width: 25px;
	max-width: 35px;
}

#NeutralImage {
	width: 30px;
	height: 22px;
	background-size: cover;
}