.QuestPanel
{
	width: 400px;
	height: 800px;
	margin-top: 0px;
	margin-left: 0px;
	border-radius: 4px;
	overflow: clip;
	background-color: none;
}

#ScoreboardLeft_Parent
{
	margin-left: 0px;
	margin-top: 120px;
	width: 700px;
	height: 500px;

	transform: translateY(0px);
	transition-property: transform;
	transition-duration: 1s;
	transition-delay: 2s;
	transition-timing-function: ease-in-out;
	background-color: grey;
	visibility: collapse;
}

.QuestWC3
{
	width: 155px;
	height: 50px;
	margin-top: 120px;
	margin-left: 0px;
	padding: 4px;
	padding-left: 8px;
	background-color: gradient( linear, 0% 0%, 100% 50%, from( #25282a00 ), color-stop( .6, #25282acc), color-stop( .8, #25282a88), to( #00000022 ) );
}

.QuestWC3:hover
{
	background-color: #443837;
}

.QuestWC3 Label
{
	font-size: 30px;
	vertical-align: center;
	horizontal-align: center;
	color: #acaaaa;
}

.QuestWC3:hover Label
{
	color: #eae9e9;
}

#Quest1,
#Quest2,
#Quest3,
#Quest4,
#Quest5
{
	width: 155px;
	height: 45px;
	margin-top: 170px;
	margin-left: 0px;
	background-color: gradient( linear, 0% 0%, 100% 50%, from( #25282a00 ), color-stop( .6, #25282acc), color-stop( .8, #25282a88), to( #00000022 ) );
	border-radius: 4px;
	box-shadow: fill #00000088 -4px -4px 8px 8px;
	overflow: clip;
	visibility: collapse;
}

#Quest1
{
	margin-top: 170px;
}

#Quest2
{
	margin-top: 215px;
}

#Quest3
{
	margin-top: 260px;
}

#Quest4
{
	margin-top: 305px;
}

#Quest5
{
	margin-top: 350px;
}

#Quest1:hover,
#Quest2:hover,
#Quest3:hover,
#Quest4:hover,
#Quest5:hover
{
	wash-color: #bbbbbb;
}

#Quest1:active,
#Quest2:active,
#Quest3:active,
#Quest4:active,
#Quest5:active
{
	wash-color: #fff000;
}

#QuestTitle
{
	margin-top: 0px;
	margin-left: 0px;
	font-size: 20px;
	color: white;
	horizontal-align: center;
	vertical-align: center;
}

#QuestInfo
{
	margin-top: 10px;
	margin-left: 5px;
	font-size: 20px;
	color: white;
}

#Quest1_info,
#Quest2_info,
#Quest3_info,
#Quest4_info,
#Quest5_info
{
	margin-left: 0px;
	width: 400px;
	background-color: gradient( linear, 0% 0%, 100% 50%, from( #25282a00 ), color-stop( .6, #25282acc), color-stop( .8, #25282a88), to( #00000022 ) );
	visibility: collapse;
}

#Quest1_info
{
	margin-top: 215px;
	height: 80px;
}

#Quest2_info
{
	margin-top: 260px;
	height: 120px;
}

#Quest3_info
{
	margin-top: 305px;
	height: 150px;
}

#Quest4_info
{
	margin-top: 350px;
	height: 360px;
}

#Quest5_info
{
	margin-top: 395px;
	height: 280px;
}

#QuestText
{
	margin-top: 10px;
	margin-left: 0px;
	font-size: 18px;
	vertical-align: center;
	horizontal-align: center;
	color: dodgerblue;
}

#Duel_info
{
	margin-top: 395px;
	margin-left: 0px;
	width: 240px;
	height: 100px;
	background-color: black;
	visibility: collapse;
}

#DuelText0
{
	margin-top: 0px;
	margin-left: 0px;
	font-size: 26px;
	horizontal-align: center;
	color: dodgerblue;
}

#DuelText1
{
	margin-top: 30px;
	margin-left: 0px;
	font-size: 16px;
	vertical-align: center;
	horizontal-align: center;
	color: dodgerblue;
}
