.ToggleAdminMod
{
	width: 250px;
	height: 90px;
	margin-top: 745px;
	margin-left: 0px;
	horizontal-align: left;
	background-color: none;
}

/* Grey Border */
.AdminModBorder
{
	width: 468px;
	height: 318px;
	margin-top: 470px;
	margin-left: 20px;
	background-color: grey;
	border-radius: 4px;
	box-shadow: fill #00000088 -4px -4px 8px 8px;
	overflow: clip;
}

.AdminModBorder #CreditsBorder
{
	width: 450px;
	height: 20px;
	opacity: 0.9;
	margin-top: 0px;
	margin-left: 0px;
	background-color: dodgerblue;
	border-radius: 4px;
	overflow: clip;
}

#CreditsBorderText
{
	margin-left: 10px;
	font-size: 18px;
	color: white;
}

.admin_tab #AdminMod
{
	width: 450px;
	height: 280px;
	margin-top: 28px;
	margin-left: 8px;
	flow-children: down;
	background-color: #d9d9d9;
	box-shadow: black -1px -1px 4px 4px;
	border-radius: 4px;
	color: #fff000;
}

#AdminCommandsBox
{
	flow-children: down;
	width: 200px;
	height: 250px;
	margin-left: 4px;
	margin-top: -15px;
	border-radius: 4px;
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #111111 ), color-stop( 0.01, #202327 ), color-stop( 0.2, #141619ff ), to( #000000dd ) );
	box-shadow: black -2px -2px 4px 4px;
}

.admin_tab #CommandsLabel
{
	margin-top: 0px;
	horizontal-align: left;
	margin-left: 20px;
	font-size: 20px;
	color: red;
}

.CGSRadio
{
	width: 100%;

	margin: 2px;
	margin-top: 6px;
	margin-left: 5px;
}

.CGSRADIO:hover {
	wash-color: #bbbbbb;
}

RadioButton Label
{
	font-size: 18px;
	letter-spacing: 1px;
	text-shadow: 2px 2px 2px black;
	color: #454545;
	vertical-align: center;
}

#HostCommandsBox
{
	flow-children: down;
	width: 200px;
	height: 250px;
	margin-left: 4px;
	margin-top: -15px;
	border-radius: 4px;
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #111111 ), color-stop( 0.01, #202327 ), color-stop( 0.2, #141619ff ), to( #000000dd ) );
	box-shadow: black -2px -2px 4px 4px;
}

#PlayerCommandsBox
{
	flow-children: down;
	width: 200px;
	height: 250px;
	margin-left: 209px;
	margin-top: -250px;
	border-radius: 4px;
	background-color: gradient( linear, 100% 0%, 100% 100%, from( #111111 ), color-stop( 0.01, #202327 ), color-stop( 0.2, #141619ff ), to( #000000dd ) );
	box-shadow: black -2px -2px 4px 4px;
}

#CloseButton
{
	width: 25px;
	height: 25px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 425px;
	horizontal-align: left;
	background-color: none;
}

#CloseButton:hover {
	wash-color: #ff0000;
}

#Title
{
	flow-children: down;
	margin-top: -2px;
}

#OptionSelect
{
	flow-children: right;
	margin-left: 30px;
	margin-top: 5px;
	horizontal-align: center;
}

#OptionSelect:hover {
	wash-color: #bbbbbb;
}

#AdminTabs
{
	height: 30px;
	width: 170px;
	horizontal-align: left;
	vertical-align: top;
	color: darkgray;
	font-size: 20px;
	transition-timing-function: ease-in-out;
	transition-property: transform;
	transition-duration: 0.3s;

	visibility: visible;
}

.admin_mod #TabSeparator
{
	height: 20px;
	width: 20px;
	horizontal-align: left;
	vertical-align: top;
	font-size: 20px;
	color: darkgray;
	transition-timing-function: ease-in-out;
	transition-property: transform;
	transition-duration: 0.3s;

	visibility: visible;
}

.changelogDisplayHidden
{
	transform: translate3d( -350px, 0px, 0px );
}
